body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
span{
    color:orange;
}
h1{
    font-size:50px;
}
.k{
    color:orange;
}
section{
    display:flex;
    margin-bottom:100px;
}
.r{
    width:50%;
    padding-left:5%;
}
.r img{
    width:74%;
}
.u{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 40px;
    border-radius: 5px;
    font-weight:700;
    color:white;
}
.y{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
.e{
    width:50%;
    margin-left:5%;
}
section{
    display:flex;
}
.e img{
    width:71%;
}
.t{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.e a{
    margin-top:15px;
}
